.item1 {
  grid-area: Header;
}

.item2 {
  grid-area: Link;
}

.item3 {
  grid-area: Wspace;
}

.item4 {
  grid-area: Main;
}

.item5 {
  grid-area: Footer;
}

.grid-container {
  display: grid;
  grid-template-areas: 'Header Header Header Header Header Header' 'Link Link Link Link Link Link' 'Wspace Main Main Main Main Main' 'Wspace Footer Footer Footer Footer Footer'; 
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
