.item1 {
  grid-area: Link1;
}

.item2 {
  grid-area: Link2;
}

.item3 {
  grid-area: Link3;
}

.item4 {
  grid-area: Header;
}

.item5 {
  grid-area: Menu;
}

.item6 {
  grid-area: Main;
}

.item7 {
  grid-area: Footer;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header header header header header header' 'link1 link1 link2 link2 link3 link3' 'menu main main main main main' 'menu footer footer footer footer footer' grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
